@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap%27');
body {
  font-family: 'Tajawal', sans-serif;
  background-color: #f8f8f8;
  color: #8f8f8f;
}
.aribc{
  direction: rtl;
}
