@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Merienda:wght@300;400;500;600;700;800;900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
body {
  font-family: 'Tajawal', sans-serif;

    background-color: #f8f8f8;
  color: #6a6969;
}
.aribc{
  direction: rtl;
}
